<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 注册数据源：C3P0 -->
	<bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- 注册属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 注册Dao -->
	<bean id="accountDao" class="com.zxin.dao.AccountDaoImpl">
		<property name="dataSource" ref="myDataSource"/>
	</bean>
	<bean id="stockDao" class="com.zxin.dao.StockDaoImpl">
		<property name="dataSource" ref="myDataSource"/>
	</bean>


	<!--这里我注释了这个，因为在BuyStockServiceImpl使用了注解注入, 所以需要注册组件扫描器-->
	<!--&lt;!&ndash; 注册Service &ndash;&gt;-->
	<!--<bean id="buyStockService" class="com.zxin.service.BuyStockServiceImpl">-->
		<!--<property name="adao" ref="accountDao"/>-->
		<!--<property name="sdao" ref="stockDao"/>-->
	<!--</bean>-->

	<context:component-scan base-package="com.zxin.*"/>


</beans>