<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxin.dao.IStudentDao">

    <cache/>
    <insert id="insertStudent" flushCache="false">
        insert into student(name,age,score) values(#{name}, #{age}, #{score})
    </insert>

    <!-- useCache="false"对当前Sql的二级缓存的局部关闭 -->

    <select id="selectStudentById" useCache="false" resultType="Student">
        select id,name,age,score from student where id=#{xxx}
    </select>

    <select id="selectStudentById2" resultType="Student">
        select id,name,age,score from student where id=#{xxx}
    </select>
</mapper>
