<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 注册School -->
    <bean id="mySchool" class="com.zxin.di01.School">
        <property name="name" value="清华大学"/>
    </bean>

    <!-- 注册Student -->
    <bean id="myStudent" class="com.zxin.di01.Student">
        <property name="name" value="张三"/>
        <property name="age" value="23"/>
        <property name="school" ref="mySchool"/>  <!--注意这里对象要使用 引用-->
    </bean>

</beans>