<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 自动注入，所以这里的school 必须和Student类中的属性的名称是一样的 -->
    <bean id="school" class="com.zxin.di07.School">
    	<property name="name" value="清华大学"/>
    </bean>
    
    <!-- 注册Student
    	autowire="byName" 会从容器中查找与实体类的域属性同名的Bean的id，并将该Bean对象自动注入给该域属性
     -->
    <bean id="myStudent" class="com.zxin.di07.Student" autowire="byName">
    	<property name="name" value="张三"/>
    	<property name="age" value="23"/>
    </bean>

</beans>